
{% extends "layout-prototype-info.html" %}

{% set serviceName %}
{% endset %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
    Change training provider midway through apprenticeship
    </h1>




    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">
    		Preferred solution
    	</h2>

    	<div class="govuk-grid-row govuk-!-margin-bottom-6">
    		<div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-s">
            Single change, enter from Manage your apprentices
          </h3>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="../approve/sprint-26/research/employer/change-provider/manage-your-apprentices-filters?conditions=no">Without conditions</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="../approve/sprint-26/research/employer/change-provider/manage-your-apprentices-filters?conditions=yes">With conditions</a>
            </li>
          </ul>
    		</div>

        <div class="govuk-grid-column-one-half">

        </div>
    	</div>
    </div>

  </div>
  </div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h2 class="govuk-heading-m">
      Alternative 1
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="../approve/sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=single&provider-known=no&conditions=no">Single change, start from Apprentices without conditions</a>
      </li>
      <li>
        <a class="govuk-list" href="../approve/sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=single&provider-known=no&conditions=yes">Single change, start from Apprentices with conditions</a>
      </li>
    </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Alternative 2
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="../approve/sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=multiple&provider-known=no&conditions=no">Multiple change, start from either without conditions</a>
      </li>
      <li>
        <a class="govuk-list" href="../approve/sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=multiple&provider-known=no&conditions=yes">Multiple change, start from either with conditions</a>
      </li>
    </ul>


  </div>
</div>

  {% endblock %}
