{% extends "layout-account.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard">
			Apprentices	
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row page-dashboard">		
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="add-start">Add an apprentice</a>
						</h2>
						<p>Add apprentices to a new cohort or ask your training provider to add them.</p>
					</div>

					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="/approve/sprint-24/research/employer/employer-approve/apprentice-requests">Your cohorts</a>
						</h2>
						<p>Review, edit, approve and add more apprentices to cohorts you've already started.</p>
					</div>
				</div>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="/approve/sprint-24/research/employer/employer-approve/manage-your-apprentices-filters-100">Manage your apprentices</a>
						</h2>
						<p>View approved apprentices, update details of existing apprentices or stop and pause payments to training providers.</p>
					</div>
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="#">Set payment order</a>
						</h2>
						<p>View and change the order in which your providers are paid from your available funds.</p>
					</div>
				</div>
			</div>

			<div class="govuk-grid-column-one-third">
		
			</div>
		</div>
	</div>
</div>

{% endblock %}