
<h2 class="govuk-heading-l" id="sprint-0">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 13
  <span class="govuk-caption-l">
    5th&mdash;18th July 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h4 class="govuk-heading-s">
      Employer journeys
    </h4> 
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-13/research/employer/employer-approve-2/email1">Approve one than more apprentice - iteration #3</a></li>      
    </ul>

    <hr class="govuk-section-break--l">

    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-13/research/employer/employer-approve/email1">Approve one than more apprentice - iteration #2</a></li>      
    </ul>  
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-13/research/employer/employer-approve/email">Approve an apprentice</a></li>      
    </ul>   
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-13/research/employer/two-reservations-add-three/choose-reservation-2">Non-levy adding multiple apprentices</a></li>      
    </ul>
    <br><br><br><br><br><br><br><br>
  </div>
</div>