
<h2 class="govuk-heading-l" id="sprint-14">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 18
  <span class="govuk-caption-l">
    27th September&mdash;10th October 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Employer journey
    </h4> 
    <ul class="govuk-list govuk-list">                        
      <li><a href="sprint-18/research/employer/manage-your-apprentices/manage-your-apprentices">Manage your apprentices</a></li>
      <li><a href="sprint-18/research/employer/manage-your-apprentices/manage-your-apprentices-filtered-view">Filtered view</a></li>
    </ul>   
    <h4 class="govuk-heading-s">
      Provider journey
    </h4> 
    <ul class="govuk-list govuk-list">                        
      <li><a href="sprint-18/research/provider/manage-your-apprentices/manage-your-apprentices">Manage your apprentices</a></li>
      <li><a href="sprint-18/research/provider/manage-your-apprentices/manage-your-apprentices-filtered-view">Filtered view</a></li>
    </ul>   
  </div>
</div>