<h2 class="govuk-heading-l" id="sprint-19">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 24
  <span class="govuk-caption-l">
    8th &mdash;21st January 2020
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Change of employer
    </h4>     
    <ul class="govuk-list">                        
      <li><a href="sprint-24/research/provider/change-of-employer/account-home" class="govuk-link govuk-link--no-visited-state">Provider initiates a change of employer</a></li>      
      <li><a href="sprint-24/research/provider/change-of-employer/account-home-b" class="govuk-link govuk-link--no-visited-state">Provider views the record while awaiting approval</a></li>
      <li><a href="sprint-24/research/provider/change-of-employer/account-home-c" class="govuk-link govuk-link--no-visited-state">Provider views a record which has been rejected</a></li>                       
    </ul>      
    <ul class="govuk-list">                        
      <li><a href="sprint-24/research/employer/employer-approve/email1" class="govuk-link govuk-link--no-visited-state">Employer actions the request (from notification)</a></li>
      <li><a href="sprint-24/research/employer/employer-approve/login1" class="govuk-link govuk-link--no-visited-state">Employer actions the request (from homepage)</a></li>
    </ul>      
    <ul class="govuk-list">      
      <li><a href="sprint-24/research/provider/change-of-employer/email-rejected" class="govuk-link govuk-link--no-visited-state">Provider fixes a rejected request</a></li>
      <li><a href="sprint-24/research/provider/change-of-employer/email1" class="govuk-link govuk-link--no-visited-state">Provider is notified of approval</a></li>
      <li><a href="sprint-24/research/provider/change-of-employer/manage-your-apprentices-filters-100d?clientsFilter=new&search=Darren+Diamond" class="govuk-link govuk-link--no-visited-state">Provider views both records in Manage your apprentices</a></li>
    </ul>      
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-6">
    <h4 class="govuk-heading-s">
      Change of training provider
    </h4>     
    <ul class="govuk-list">                        
      <li><a href="sprint-24/research/employer/change-provider/manage-your-apprentices-filters-100" class='govuk-link govuk-link--no-visited-state' >Employer initiates change</a></li>
    </ul>  
    <ul class="govuk-list">                        
      <li><a href="sprint-24/research/provider/provider-approve/email1" class='govuk-link govuk-link--no-visited-state' >Provider confirmation</a></li>
    </ul>  
    <ul class="govuk-list">                        
      <li><a href="sprint-24/research/employer/change-provider/email1" class='govuk-link govuk-link--no-visited-state' >Employer notified</a></li>
    </ul>
  </div>
</div>