{% extends "layout-provider-account.html" %}

{% block pageTitle %}
  Training end and start dates
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <h1 class="govuk-heading-xl">
            Training end and start dates
          </h1>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-bottom-4" for="stop-date">
              The date the previous employer stopped the apprenticeship
            </label>
            <span class="govuk-body">December 2019</span>
          </div>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <div class="govuk-form-group">
            {{ govukDateInput({
              id: "start-date",
              namePrefix: "start-date",              
              items:
              [
              {
                name: "month",
                id: "start-month",
                classes: "govuk-input--width-2"
              },
              {
                name: "year",
                id: "start-year",
                classes: "govuk-input--width-4"
              }
              ],
              hint:
              {
                html: "<span style='color:#000;'>When does the training restart with the new employer?
                        <br> The restart date must be on or after the date the training was stopped.
                      </span> 
                      <br>For example, 1 2020",
                classes: "govuk-!-margin-top-6"
              }
            }) }}
          </div>

          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-!-margin-top-6"
          }) }}

        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}