<h2 class="govuk-heading-l" id="sprint-19">
  Sprint 25
  <span class="govuk-caption-l">
    22nd January &mdash;18th February 2020
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Change of training provider
    </h4>
    <ul class="govuk-list">
      <li><a href="sprint-25/research/employer/change-provider/manage-your-apprentices-filters-100" class='govuk-link govuk-link--no-visited-state' >Employer initiates change</a></li>
    </ul>
    <ul class="govuk-list">
      <li><a href="sprint-25/research/provider/provider-approve/email1" class='govuk-link govuk-link--no-visited-state' >Provider confirmation</a></li>
    </ul>
    <ul class="govuk-list">
      <li><a href="sprint-25/research/employer/change-provider/email1" class='govuk-link govuk-link--no-visited-state' >Employer notified</a></li>
    </ul>
  </div>
</div>
