{% extends "layout-account.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="info-summary">
        <p class="govuk-body">
            Coronavirus (COVID-19): <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response/coronavirus-covid-19-guidance-for-apprentices-employers-training-providers-end-point-assessment-organisations-and-external-quality-assurance-pro" target="_blank">read our guidance</a> on the changes we're making to apprenticeships.
						<br>
						<br>
						You can also <a href="warning_corona_pause-all" class="govuk-link">pause your apprenticeships now</a> or <a href="#" class="govuk-link">find out how this works</a>.
        </p>
    </div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard" id="company-Name">
			{{data['employer']}}
			<span class="govuk-caption-xl">Account ID: 7JDYMV</span>
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row page-dashboard">
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="#">Your team</a>
						</h2>
						<p>Control what your team can do and invite new team members.</p>

						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="start">Reserve funding</a>
						</h2>
						<p>Reserve funding for apprenticeship training.</p>

						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="#">Your organisations and agreements</a>
						</h2>
						<p>Add your organisations that will make contracts with training providers.</p>

						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="apprentices-section">Apprentices</a>
						</h2>
						<p>Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
					</div>

					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="finance">Finance</a>
						</h2>
						<p>View your financial transactions, connect with other employers and send or receive transfer funds.</p>

						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="#">PAYE schemes</a>
						</h2>
						<p>Add or remove <abbr title="Pay as your earn">PAYE</abbr> schemes.</p>

						<h2 class="govuk-heading-m">
							<a class="govuk-link--no-visited-state" href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank" rel="external">Find apprenticeship training</a>
						</h2>
						<p>Search for apprenticeships and see details of approved providers who can deliver the training.</p>
					</div>
				</div>

				<!-- <div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						<div class="govuk-inset-text">
							<h3 class="govuk-heading-m">Help us improve this service</h3>
							<p><a class="govuk-link--no-visited-state" href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Take our 3 minute survey</a> so that we can improve this service.</p>

							{% from "button/macro.njk" import govukButton %}
							{{ govukButton({
								text: "Take the survey"
							}) }}
						</div>
					</div>
				</div> -->
			</div>

			<div class="govuk-grid-column-one-third">
				<div class="govuk-tabs" data-module="govuk-tabs">
					<h2 class="govuk-tabs__title">
					  Contents
					</h2>
					<ul class="govuk-tabs__list">
					  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
						<a class="govuk-tabs__tab" href="#tasks">
						  Tasks
						</a>
					  </li>
					  <li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#activity">
						  Activity
						</a>
					  </li>
					</ul>
					<section class="govuk-tabs__panel" id="tasks">
					  You have <a class="govuk-link--no-visited-state" href="approve-apprentices-change">apprentice details to approve</a>
				  </section>
					<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="activity">
					</section>
			</div>
		</div>
	</div>
</div>

{% endblock %}
