{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Confirm the information before sending your request</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
        {% if data['apprentice-amount'] == 'multiple' %}
          <dt class="govuk-summary-list__key">
            Number of apprentices to move
          </dt>
          <dd class="govuk-summary-list__value">
            6
          </dd>
        {% else %}
          <dt class="govuk-summary-list__key">
            Apprentice name
          </dt>
          <dd class="govuk-summary-list__value">
            Apprentice name
          </dd>
        {% endif %}



          <dd class="govuk-summary-list__actions">
            <a href="#">
              {% if data['provider-known'] == 'yes' %}

              {% else %}
              Change
              {% endif %}
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        </dl>


      <h2 class="govuk-heading-m">Current details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current training provider
          </dt>
          <dd class="govuk-summary-list__value">
            Cyberdyne Training Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              {% if data['provider-known'] == 'yes' %}

              {% else %}
              Change
              {% endif %}
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current start date
          </dt>
          <dd class="govuk-summary-list__value">
            May 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current end date
          </dt>
          <dd class="govuk-summary-list__value">
            July 2020
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Requested changes</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New training provider
          </dt>
          <dd class="govuk-summary-list__value">
            Tyrell Corp Training
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Training restart date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ [data['start-date-year'], data['start-date-month']] | join("-") | date('MMMM YYYY') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New end date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ [data['end-date-year'], data['end-date-month']] | join("-") | date('MMMM YYYY') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>



      <form action="confirmation-page" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button">
          Save and send
        </button>

      </form>

    </div>
  </div>


{% endblock %}
