{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['conditions'] == 'no' %}
        <form action="check-your-answers" method="post" novalidate>
      {% endif %}
      {% if data['conditions'] == 'yes' %}
        <form action="enter-start-date" method="post" novalidate>
      {% endif %}

          {% call govukFieldset({
            legend: {
              text: "Choose the new training provider",
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true
            }
          }) %}

          <p class="govuk-body">Choose from training providers you’ve worked with before or <a href="#">add a new training provider.</a></p>

          {{ govukRadios({
            idPrefix: "choose-new-training-provider",
            name: "choose-new-training-provider",
          items: [
            {
              value: "Cyberdyne Training Ltd",
              text: "Cyberdyne Training Ltd"
            },
            {
              value: "Tyrell Corp Training",
              text: "Tyrell Corp Training"
            },
            {
              value: "Learnovate",
              text: "Learnovate"
            },
            {
              value: "Level Up",
              text: "Level Up"
            }
          ]
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        </form>
    </div>
  </div>

{% endblock %}
