{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<form action="choose-new-training-provider" method="post" novalidate>

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: "Which apprentice(s) do you want to move?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "Ben Crobbery",
      text: "Apprentice name"
    },
    {
      value: "Dan D. Lyon",
      text: "Apprentice name"
    }
  ]
}) }}

{{ govukButton({
    text: "Save and continue"
  }) }}
</form>

{% endblock %}
