{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="enter-start-date" method="post" novalidate>
        {{ govukRadios({
          idPrefix: "choose-new-training-provider",
          name: "choose-new-training-provider",




          fieldset: {
            legend: {
              text: "Choose the new training provider",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
             text: "Choose from training providers you’ve worked with before."
           },
          items: [
            {
              value: "Cyberdyne Training Ltd",
              text: "Cyberdyne Training Ltd"
            },
            {
              value: "Tyrell Corp Training",
              text: "Tyrell Corp Training"
            },
            {
              value: "Learnovate",
              text: "Learnovate"
            },
            {
              value: "Level Up",
              text: "Level Up"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        </form>
    </div>
  </div>

{% endblock %}
