{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<form action="choose-new-training-provider" method="post" novalidate>

{% if data['apprentice-amount'] == 'multiple' %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="move-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which apprentice(s) do you want to move?
      </h1>
    </legend>
    <span id="move-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice" name="move-which-apprentice" type="checkbox" value="apprentice-1">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice">
          Apprentice name
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice-2" name="move-which-apprentice-2" type="checkbox" value="apprentice-2">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice-2">
          Apprentice name
        </label>
      </div>
    </div>
  </fieldset>
</div>


{% else %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which apprentice do you want to move?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice" name="move-which-apprentice" type="radio" value="apprentice-1">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Apprentice name
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice-2" name="move-which-apprentice" type="radio" value="apprentice-2">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Apprentice name
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% endif %}

{{ govukButton({
    text: "Save and continue"
  }) }}
</form>

{% endblock %}
