{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<form action="choose-new-training-provider" method="post" novalidate>

{% if data['apprentice-amount'] == 'multiple' %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="move-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which apprentice(s) do you want to move?
      </h1>
    </legend>
    <span id="move-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice" name="move-which-apprentice-1" type="checkbox" value="Phillip Everett">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice">
          Phillip Everett
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice" name="move-which-apprentice-2" type="checkbox" value="Josie Bradley">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice">
          Josie Bradley
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice" name="move-which-apprentice-3" type="checkbox" value="Arabella Conner">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice">
          Arabella Conner
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice" name="move-which-apprentice-4" type="checkbox" value="Evie Chaney">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice">
          Evie Chaney
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice-2" name="move-which-apprentice-5" type="checkbox" value="Clive Armitage">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice-2">
          Clive Armitage
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="move-which-apprentice-2" name="move-which-apprentice-6" type="checkbox" value="Paris Mccullough">
        <label class="govuk-label govuk-checkboxes__label" for="move-which-apprentice-2">
          Paris Mccullough
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% else %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which apprentice do you want to move?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice" name="move-which-apprentice" type="radio" value="Phillip Everett">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Phillip Everett
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice" name="move-which-apprentice" type="radio" value="Josie Bradley">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Josie Bradley
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice" name="move-which-apprentice" type="radio" value="Arabella Conner">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Arabella Conner
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice" name="move-which-apprentice" type="radio" value="Evie Chaney">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Evie Chaney
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice-2" name="move-which-apprentice" type="radio" value="Clive Armitage">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Clive Armitage
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="move-which-apprentice-2" name="move-which-apprentice" type="radio" value="Paris Mccullough">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Paris Mccullough
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% endif %}

{{ govukButton({
    text: "Save and continue"
  }) }}
</form>

{% endblock %}
