{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% if data['apprentice-amount'] == 'multiple' %}
      <form action="are-the-dates-the-same-for-all" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you want to enter the restart date and new price?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-want-to-enter-dates-and-costs" name="do-you-want-to-enter-dates-and-costs" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
                Yes, I’ll enter the restart date and new price
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="do-you-want-to-enter-dates-and-costs-2" name="do-you-want-to-enter-dates-and-costs-2" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="do-you-want-to-enter-dates-and-costs-2">
                No, I want ((Training Provider)) to enter the restart date and new price
              </label>
            </div>
          </div>
        </fieldset>
      </div>

{% else %}
<form action="enter-start-date" method="post" novalidate>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Do you want to enter the restart date?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="do-you-want-to-enter-dates-and-costs" name="do-you-want-to-enter-dates-and-costs" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="move-which-apprentice">
          Yes, I’ll enter the restart date
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="do-you-want-to-enter-dates-and-costs-2" name="do-you-want-to-enter-dates-and-costs" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="do-you-want-to-enter-dates-and-costs">
          No, I want ((Training Provider)) to enter the restart date
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% endif %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
