{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="is-the-cost-the-same-for-all" method="post" novalidate>

        {{ govukDateInput({
          id: "start-date",
          namePrefix: "end-date",
          fieldset: {
            legend: {
              text: "What is the new training end date?",
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "For example, 3 2020"
          }
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}


      </form>
      <p class="govuk-body"><a class="govuk-link" href="is-the-cost-the-same-for-all">Skip this step</a></p>
    </div>
  </div>

{% endblock %}
