{% extends "layout-account.html" %}

{% block pageTitle %}
  Choose existing training provider
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="check-your-answers" method="post" novalidate>
  {% set priceKnown %}
  {{ govukInput({
    id: "yes-price-known",
    name: "yes-price-known",
    classes: "govuk-!-width-one-third",
    label: {
      text: "What's the new price?"
    }
  }) }}
  {% endset -%}

  {% if data['apprentice-amount'] == 'multiple' %}

  {{ govukRadios({
    idPrefix: "know-price-conditional",
    name: "know-price",
    fieldset: {
      legend: {
        text: "Is the price the same for all apprenticeships?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },

    items: [
      {
        value: "yes",
        text: "Yes, it's the same",
        conditional: {
          html: priceKnown
        }
      },
      {
        value: "no",
        text: "No, it's not the same"
      }
    ]
  }) }}
  {{ govukButton({
    text: "Continue"
  }) }}



  {% else %}

  {{ govukRadios({
    idPrefix: "know-price-conditional",
    name: "know-price",
    fieldset: {
      legend: {
        text: "Is the new price the same as the old one?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },

    items: [
      {
        value: "no",
        text: "No, it's changed",
        conditional: {
          html: priceKnown
        }
      },
      {
        value: "Yes",
        text: "Yes, it's the same"
      }
    ]
  }) }}
  {{ govukButton({
    text: "Continue"
  }) }}







{% endif %}

</form>
<p class="govuk-body"><a class="govuk-link" href="is-the-price-the-same-for-all">Skip this step</a></p>
</div>
</div>
{% endblock %}
