{% extends "layout-account.html" %}

{% block pageTitle %}
  Warning
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="interrupt-panel">
      <h1 class="heading-xlarge">Are you sure you want to change provider?</h1>
      <div class="u-margin-bottom-40">
        <p>You should only change a training provider if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            you’re unhappy with their performance
          </li>
          <li>
            they’ve stopped supporting the training course your apprentice was on
          </li>
          <li>
            they’re shutting down or have shut down
          </li>
        </ul>

      </div>



      {% if data['provider-known'] == 'yes' %}
        <a href="choose-new-training-provider" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      {% else %}
      <a href="choose-existing-training-provider" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      {% endif %}

        <p class="govuk-body-s govuk-!-margin-top-4"><a href="#">Cancel and return to homepage</a></p>

    </div>
  </div>
</div>

{% endblock %}
