{% extends "layout-provider-account-more.html" %}

{% block pageTitle %}
  Start adding apprentices
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" class="form">

          {{ govukRadios({
            idPrefix: "add",
            name: "add",
            fieldset:
            {
              legend:
              {
                text: "How many employers are you adding apprentices for?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-top-4"
              }
            },
            items: [
            {
              value: "yes",
              text: "One employer"
            },
            {
              value: "no",
              text: "More than one employer"
            }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
          
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}