<h2 class="govuk-heading-l" id="sprint-19">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 26
  <span class="govuk-caption-l">
    18th February 2020&mdash;Ongoing
  </span>
</h2>



<h3 class="govuk-heading-m">
  Coronavirus banner
</h3>

<h4 class="govuk-heading-s">
  Pause all scenarios
</h4>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li><a href="sprint-26/research/employer/change-provider/pause-all/pause-all_table" class='govuk-link govuk-link--no-visited-state'>Go to pause all scenarios page</a></li>
    </ul>
  </div>
</div>

<br>

<h4 class="govuk-heading-s">
  Email sent to provider
</h4>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li><a href="sprint-26/research/provider/email_all-paused" class='govuk-link govuk-link--no-visited-state'>Email - all apprenticeships paused</a></li>
    </ul>
  </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  Resume paused apprenticeships
</h4>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li><a href="sprint-26/research/employer/change-provider/manage_resume" class='govuk-link govuk-link--no-visited-state'>Banner on Manage your apprentices</a></li>
      <li><a href="sprint-26/research/employer/change-provider/apprentices-section_resume-banner" class='govuk-link govuk-link--no-visited-state'>Banner on Apprentices</a></li>
      <li><a href="sprint-26/research/employer/change-provider/apprentices-section_resume" class='govuk-link govuk-link--no-visited-state'>New section link on Apprentices</a></li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h4 class="govuk-heading-s">
  Information banner - provider
</h4>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li><a href="sprint-26/research/provider/account-homepage-corona" class='govuk-link govuk-link--no-visited-state'>Homepage - information for providers on how to pause apprentices</a></li>
      <li><a href="sprint-26/research/provider/manage-corona" class='govuk-link govuk-link--no-visited-state'>Manage - information for providers on how to pause apprentices</a></li>
    </ul>
  </div>
</div>

<h4 class="govuk-heading-s">
  Information banner - employer
</h4>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list">
      <li><a href="sprint-26/research/employer/change-provider/account-homepage-corona" class='govuk-link govuk-link--no-visited-state'>Homepage - information for employers on how to pause apprentices</a></li>
      <li><a href="sprint-26/research/employer/change-provider/manage-corona" class='govuk-link govuk-link--no-visited-state'>Manage - information for employers on how to pause apprentices</a></li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Change of training provider
    </h4>
    <ul class="govuk-list">
      <li><a href="sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=multiple" class='govuk-link govuk-link--no-visited-state'>Select multiple</a></li>
      <li><a href="sprint-26/research/employer/change-provider/account-homepage?apprentice-amount=single" class='govuk-link govuk-link--no-visited-state'>Select single</a></li>
      <li><a href="sprint-26/research/employer/change-provider/manage-your-apprentices-filters" class='govuk-link govuk-link--no-visited-state'>Via Manage your apprentices</a></li>
    </ul>
  </div>
</div>
