
{% extends "layout-account.html" %}

{% block pageTitle %}
Confirm new training provider
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="training-dates">
     <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Confirm new training provider
    </h1>

    <p>
      UK Provider Reference Number <b>{{data['ukprn']}}</b> matches:
    </p>

    <h2 class="govuk-heading-l">
      {{data['provider-name']}}
      <span class="govuk-caption-m govuk-!-font-weight-bold">
        UKPRN: {{data['ukprn']}}
      </span>
    </h2>

    {{ govukRadios({
        idPrefix: "confirm-provider",
        name: "confirm-provider",
        
        items:
        [
        {
          value: "yes",
          text: "Yes, confirm " + data['provider-name']
        },
        {
          value: "no",
          text: "No, change a different training provider"
        }
        ]
      }) }}

    <p>
      {{govukButton({
        text: "Continue"
      })}}
    </p>
  </form>
</div>
</div>

{% endblock %}
