{% extends "layout-account.html" %}

{% block pageTitle %}
  Apprentice requests
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <div class="govuk-panel govuk-panel--confirmation govuk-body govuk-!-margin-bottom-9" style="background-color: white; border: solid 5px #28a197">
      <h1 class="govuk-panel__title" style="color:black;">
        Apprentices deleted
      </h1>
    </div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Apprentice requests
    </h1>
    <a href="apprentice-details-ready-for-review">
      <div class="govuk-grid-column-one-third" style="background-color: #2E358B; height: 225px; margin:0 30px 30px 0;">
      <h2 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-4" style="color:white;">2</h2>
      <p class="govuk-heading-m" style="color:white;">Ready for review</p>
      </div>
    </a>
    <a href="apprentice-details-with-training-providers">
      <div class="govuk-grid-column-one-third" style="background-color: #2E358B; height: 225px; margin-bottom:30px;">
        <h2 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-4" style="color:white;">3</h2>
        <p class="govuk-heading-m" style="color:white;">With training providers</p>
      </div>
    </a>
    <br>
    <a href="draft-apprentices-deletion-2">
      <div class="govuk-grid-column-one-third" style="background-color: #2E358B; height: 225px; margin:0 30px 30px 0;">
        <h2 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-4" style="color:white;">2</h2>
        <p class="govuk-heading-m" style="color:white;">Draft</p>
      </div>
    </a>
    <a href="apprentice-details-with-transfer-sending-employers">
      <div class="govuk-grid-column-one-third" style="background-color: #2E358B; height: 225px; margin-bottom:30px;">
        <h2 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-4" style="color:white;">3</h2>
        <p class="govuk-heading-m" style="color:white;">With transfer sending employers</p>
      </div>
    </a>
    <br>
    <a href="apprentice-details-rejected-transfer-requests">
      <div class="govuk-grid-column-one-third" style="background-color: #2E358B; height: 225px; margin:0 30px 30px 0;">
        <h2 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-4" style="color:white;">1</h2>
        <p class="govuk-heading-m" style="color:white;">Rejected transfer requests</p>
      </div>
    </a>
  </div>
</div>    
{% endblock %}