
<h2 class="govuk-heading-l" id="sprint-14">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 14
  <span class="govuk-caption-l">
    19th July&mdash;15th August 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Employer-led end to end journey
    </h4> 
    <ul class="govuk-list govuk-list--number">                        
      <li><a href="sprint-14/research/employer/employer-led-add/login1">Employer requests that provider adds details</a></li>      
      <li><a href="sprint-14/research/provider/provider-adds/email1">Provider adds details</a></li>      
      <li><a href="sprint-14/research/employer/employer-approve-2/email1">Employer approves details (6 records)</a></li>
      <li><a href="sprint-14/research/employer/employer-approve-3/email1">Employer approves details (1 record - table view)</a></li>
      <li><a href="sprint-14/research/employer/employer-approve/email">Employer approves details (1 record - check answers view)</a></li>
      <li><a href="sprint-14/research/employer/employer-approve-4/email1">Employer approves details (1 record - non-desktop view)</a></li>
    </ul>  
    <h4 class="govuk-heading-s">
      Employer journeys
    </h4> 
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-14/research/employer/employer-approve-2/email1">Approve more than one apprentice - iteration #4</a></li>      
    </ul>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-14/research/employer/employer-approve/permissions">Training provider permissions</a></li>
      <li><a href="sprint-14/research/employer/employer-approve/email">Approve an apprentice</a></li>
    </ul>

    <h4 class="govuk-heading-s">
      Provider journeys
    </h4> 
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">                        
      <!--<li><a href="sprint-14/research/provider/provider-approve-2/email1">Approve more than one apprentice - iteration #2</a></li>-->
      <li><a href="sprint-14/research/provider/provider-approve/email1">Approve more than one apprentice - iteration #1</a></li>      
    </ul>   
  </div>
</div>