
<h2 class="govuk-heading-l" id="sprint-14">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 14
  <span class="govuk-caption-l">
    19th July&mdash;1st August 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Employer journeys
    </h4> 
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-14/research/employer/employer-approve-2/email1">Approve one than more apprentice - iteration #4</a></li>      
    </ul>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="sprint-14/research/employer/employer-approve/permissions">Training provider permissions</a></li>
      <li><a href="sprint-14/research/employer/employer-approve/email">Approve an apprentice</a></li>
    </ul>

    <h4 class="govuk-heading-s">
      Provider journeys
    </h4> 
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">                        
      <li><a href="sprint-14/research/provider/provider-approve/email1">Approve one than more apprentice - iteration #1</a></li>      
    </ul>   
  </div>
</div>