{% extends "layout-account.html" %}

{% block pageTitle %}
Manage your apprentices
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full govuk-grid-row">
  <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
      <h1 class="govuk-fieldset__heading">
        Manage your apprentices
      </h1>
    </legend>      
  </fieldset>
</div>

<div class="govuk-grid-column-two-thirds govuk-grid-row">
  <form action="manage-your-apprentices-filters-pg2" method="get">
    <div class="row-group">
      <div class="search-table column-two-thirds govuk-!-margin-bottom-4">                
        <fieldset class="govuk-fieldset">
          <div class="form-group search-field search-field-darker">
            <input type="hidden" name="clientsFilter" value="new">
            <div class="search-input search-input-with-button">
              <label class="govuk-label" for="search">
                Search apprentice name or training provider
              </label>          
              <div class="autocomplete__parent_wrapper">
                <div class="autocomplete__wrapper">
                  <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                    <span>No search results.</span>
                    <span>,,</span>
                  </div>
                  <p id="search-default-value" class="hidden">{% if search %}{{search}}{% endif%}</p>
                  <input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="search" name="search" placeholder="Search by apprentice name or training provider" role="combobox" type="text" value="{%if search %}{{search}}{%endif%}">
                  <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
                </div>
              </div>
              <input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="{%if search %}{{search}}{%endif%}" style="display: none;">
            </div>
            <div class="search-submit">
              <button class="button" type="submit" id="searchSubmit" name="searchSubmit" value="Search">Search</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>

<!--<div class="govuk-grid-column-full" style="background-color:#DEE0E2;">
  <p class="govuk-grid-row">
    <h3 class="govuk-heading-m">Filter apprentices <a href="manage-your-apprentices" style="font-weight:400; font-size:19px;" class="govuk-!-margin-left-4">Hide</a></h3>
  </p>

  <div class="govuk-grid-row">   

      <div class="govuk-grid-column-one-third">            
      <div class="govuk-form-group">
        <label class="govuk-label" for="course">
          Apprenticeship training course
        </label>          
        <select class="govuk-select" id="course" name="course" style="min-width:100%;">
          <option value="-" selected></option>
          <option value="accountancy-level7">Accountancy: Level 7 (Standard)</option>
          <option value="accountancy-level3">Accountancy: Level 3 (Standard)</option>
          <option value="saddler">Bespoke Saddler: Level 3 (Standard)</option>
        </select>  
      </div>        
      
      <div class="govuk-form-group">
        {{ govukButton ({
          text: "Apply filters",
          href: "manage-your-apprentices-filtered-view"
        })}}
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="status">
          Planned end date
        </label>
        <select class="govuk-select" id="end-date" name="end-date" style="min-width:100%;">
            <option value="-" selected></option>
          <option value="apr2019">Apr 2019</option>
          <option value="apr2020">Apr 2020</option>
          <option value="apr2021">Apr 2021</option>
        </select>      
      </div> 
    </div>          
        
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="status">
          Status
        </label>
        <select class="govuk-select" id="status" name="status" style="min-width:100%;">
          <option value="-" selected></option>
          <option value="Completed">Completed</option>
          <option value="Live">Live</option>
          <option value="Paused">Paused</option>
          <option value="Stopped">Stopped</option>
          <option value="Waiting to start">Waiting to start</option>
        </select>      
      </div>                       
    </div>  
  </div>  

</div>-->

<!--Filters-->
<div class="govuk-grid-column-full" style="background-color:#DEE0E2; margin-bottom: 20px; padding-top: 15px">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <!-- Course filter -->
            <div class="govuk-form-group" style="margin-bottom: 20px">
              <label class="govuk-label" for="course-filter">
                  Apprenticeship training course
              </label>
              <select class="govuk-select" id="course-filter" name="course-filter" style="min-width: 100%">
                <option value="all">All</option>
                <option value="accountancy-level7">Accountancy: Level 7 (Standard)</option>
                <option value="accountancy-level3">Accountancy: Level 3 (Standard)</option>
                <option value="saddler">Bespoke Saddler: Level 3 (Standard)</option>                
              </select>
            </div>
        </div>
      <div class="govuk-grid-column-one-third">
          <!-- Planned end date filter -->
          <div class="govuk-form-group" style="margin-bottom: 20px">
            <label class="govuk-label" for="end-date-filter">
              Planned end date
            </label>
            <select class="govuk-select" id="end-date-filter" name="end-date-filter" style="min-width: 100%">
              <option value="all">All</option>              
              <option value="apr2019">Apr 2019</option>
              <option value="apr2020">Apr 2020</option>
              <option value="apr2021">Apr 2021</option>              
            </select>
          </div>
      </div>
      
      <div class="govuk-grid-column-one-third">
          <!-- Start dates filter -->
          <div class="govuk-form-group" style="margin-bottom: 20px">
            <label class="govuk-label" for="status-filter">
              Status
            </label>
            <select class="govuk-select" id="status-filter" name="status-filter" style="min-width:100%;">
              <option value="All">All</option>
              <option value="Completed">Completed</option>
              <option value="Live">Live</option>
              <option value="Paused">Paused</option>
              <option value="Stopped">Stopped</option>
              <option value="Waiting to start">Waiting to start</option>
            </select>      
          </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="govuk-button" href="manage-your-apprentices-filtered-view" style="margin-bottom: 20px">Apply filters</a>
      </div>
    </div>
  </div>

<div class="govuk-grid-column-full govuk-grid-row govuk-!-margin-bottom-4">
  <p class="govuk-grid-row" style="background-color:#fff;"> 
    <span style="float:left; padding-left:15px;">106 records <!--<a href="manage-your-apprentices-filters" title="View all apprentice records" style="padding-left:10px;">View all apprentice records</a>--></span>          
    <span style="float:right;"><a href="download" title="Download all data (CSV)">Download all data (CSV)</a></span>
  </p>
</div>

<div class="govuk-visually-hidden">
  {%for record in data.records%}
  <span class="data-name">{{record.name}}</span>          
  <span class="data-uln">{{record.trainingProvider}}</span>
  {%endfor%}
</div>

<table class="govuk-table" id="apprentice-table" style="font-size:18px;">          
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col" aria-sort="ascending" style="width:20%;">Apprentice name</th>                  
      <th class="govuk-table__header" scope="col" aria-sort="ascending">Apprenticeship training course</th>  
      <th class="govuk-table__header" scope="col" aria-sort="ascending">Planned start date</th>      
      <th class="govuk-table__header" scope="col" aria-sort="ascending">Planned end date</th> 
      <th class="govuk-table__header" scope="col" aria-sort="ascending">Training provider</th>            
      <th class="govuk-table__header" scope="col" aria-sort="ascending" style="width:5%;">Status</th>        
      <th class="govuk-table__header" scope="col" aria-sort="ascending" style="width:5%;">Alerts</th>        
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {%for record in data.records2%}
    {%if query.search %}
      {% if query.search in record.name or query.search in record.trainingProvider %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="apprentice-details">{{record.name}}</a></td>
        <td class="govuk-table__cell">{{record.course}}</td>
        <td class="govuk-table__cell">{{record.startDate}}</td>  
        <td class="govuk-table__cell">{{record.endDate}}</td>   
        <td class="govuk-table__cell">{{record.trainingProvider}}</td>
        <td class="govuk-table__cell">{{record.status}}</td>
        <td class="govuk-table__cell"><a href="alerts">{{record.alert}}</a></td>   
      </tr>
      {%endif%} 
      {%else%}
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="apprentice-details">{{record.name}}</a></td>
          <td class="govuk-table__cell">{{record.course}}</td>
          <td class="govuk-table__cell">{{record.startDate}}</td>   
          <td class="govuk-table__cell">{{record.endDate}}</td>   
          <td class="govuk-table__cell">{{record.trainingProvider}}</td>
          <td class="govuk-table__cell">{{record.status}}</td> 
          <td class="govuk-table__cell"><a href="alerts">{{record.alert}}</a></td>   
      </tr>
      {%endif%}          
    {%endfor%}            
  </tbody>
</table>    

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <nav role="navigation" aria-label="Pagination">
          <p class="pagination__summary">Showing 101 – 106 of 106 records</p>
          <ul class="pagination govuk-list">
            
              <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="manage-your-apprentices-filters-100" aria-label="Previous page">Previous</a></li>
            <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="manage-your-apprentices-filters-100" aria-label="Page 1">1</a></li>
            <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state current" href="#0" aria-label="Page 2, current page">2</a></li>         
            
          </ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/sortable-table.js"></script>

<script>
var table = document.getElementById('apprentice-table');
new SortableTable(table); 
</script>

{{super()}}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
function getData() {
  var names = document.getElementsByClassName("data-name");
  var providers = document.getElementsByClassName("data-uln");
  var data = [];
  for (var i = 0; i < names.length; i++) {
    var name = names[i].textContent
    if (!data.includes(name)) {
      data.push(name);
    }
  }
  for (var i = 0; i < providers.length; i++) {
    var org = providers[i].textContent;
    if (data.indexOf(org) == -1) {
      // no duplicate
      data.push(org);
    }

  }
  return data;
}

function suggest(data, populateResults) {
  const results = getData();
  const filteredResults = results.filter(
    result => result.toUpperCase().indexOf(data.trim().toUpperCase()) !== -1
  )
   console.log(filteredResults)
  populateResults(filteredResults);
}

// Trigger search click.  Taken out the click for the prototype.
function fireSearch() {
  //console.log("search fired")
  setTimeout(function() {
    $("#searchSubmit").trigger("click")
  }, 200);
}
var myInput = document.querySelector('#search');
var myInputID = myInput.id;
var element = document.createElement('div');
var value = ""

if (document.getElementById('search-default-value').innerHTML != "") {
  value = document.getElementById("search-default-value").innerHTML;
}

element.className = "autocomplete__parent_wrapper";
myInput.parentNode.insertBefore(element, myInput)
accessibleAutocomplete({
  // other options
  element: element,
  id: myInputID,
  name: myInput.name,
  source: suggest,
  defaultValue: value,
  confirmOnBlur: false,
  autoselect: true,
  minLength: 1,
  onConfirm: fireSearch,
  //placeholder: 'Search apprentice name or training provider',
  displayMenu: 'overlay'
});
myInput.style.display = 'none';
myInput.id = myInputID + '-old';
myInput.name = '';
</script>
{% endblock %}