{% extends "./layout-provider-account.html" %}

{% block pageTitle %}
  Apprentice details with transfer sending employers
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form action="" method="post">
          <h1 class="govuk-heading-xl">
            Apprentice details with transfer sending employers
          </h1>
          {{ govukTable({
            
            firstCellIsHeader: false,
            head: [
              {
                text: "Employer",
                classes: 'govuk-!-width-one-third'
              },
              {
                text: "Reference"
              },
              {
                text: "Number of apprentices",
                format: "numeric",
                classes: 'govuk-!-width-one-quarter'
              },
              {
                text: "",
                classes: 'govuk-!-width-one-quarter'
              }
            ],
            rows: [
              [
                {
                  text: "BIG COMPANY LTD"
                },                
                {
                  text: "ASDFGH"
                },
                {
                  text: "3",
                  format: "numeric"
                },
                {
                  html: "<a href='approve-apprentices' class='govuk-link govuk-link--no-visited-state' title='Details' aria-describedby='Details'>Details</a>",
                  format: "numeric"
                }
              ],
              [
                {
                  text: "BIG COMPANY LTD"
                },                
                {
                  text: "SDFGH6"
                },
                {
                  text: "1",
                  format: "numeric"
                },
                {
                  html: "<a href='approve-apprentices' class='govuk-link govuk-link--no-visited-state' title='Details' aria-describedby='Details'>Details</a>",
                  format: "numeric"
                }
              ],
              [
                {
                  text: "BIG LITTLE COMPANY LTD"
                },                
                {
                  text: "VBNMCS"
                },
                {
                  text: "1",
                  format: "numeric"
                },
                {
                  html: "<a href='approve-apprentices' class='govuk-link govuk-link--no-visited-state' title='Details' aria-describedby='Details'>Details</a>",
                  format: "numeric"
                }
              ]
            ]
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}