{% extends "layout_unbranded.html" %}

{% block pageTitle %}
APEX TRAINING LIMITED sent you apprentice details to approve
{% endblock %}

{% block content %}
<!--<main id="content" role="main" style="text-align: center;">-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="/public/images/email-desktop-sprint26.png" width="1280px" id="email">
          <div style="margin-left: 45%;">


						<h1 class="govuk-heading-m">((EMPLOYER)) paused all apprenticeships that are live or waiting to start with you on ((DATE)).</h1>
						<br>
						<p class="govuk-body">Sign into your apprenticeship account to view the details. https://providers. Apprenticeships.education.gov.uk/((URL))
						<br><br>
						Please do not reply to this email
						<br>
						<br>
						Kind regards,
						<br>
						Apprenticeship service team</p>
        </div>
<!--</main>  -->
{% endblock %}
