{% extends "layout-provider-account-more.html" %}

{% block pageTitle %}
Add apprentices by uploading a file
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>

          <div class="govuk-form-group  govuk-!-margin-bottom-9">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                    Add apprentices by uploading a file
                </h1>
              </legend>
            </fieldset>

            <p class="govuk-body">
                Use our <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/607025/ProviderBulkUploadSampleCSV_6April2017.csv" title="CSV template">csv template</a> to upload details for multiple apprentices at the same time. The file must contain mandatory information in a specific format. More guidance on this is available in our <a href="https://www.gov.uk/government/publications/apprenticeship-service-bulk-upload-specification">bulk upload specification document</a>.              
            </p>

              {{ govukDetails({
                summaryText: "Help with preparing and uploading a file",
                html: "If the course is a Standard:<ul class='govuk-list govuk-list--bullet'>
                    <li>Insert programme type ‘25’</li>
                    <li>Leave Framework code and Framework pathway code blank</li>
                    <li>Insert a Standard code as recorded in your ILR</li>
                  </ul>If the course is a Framework:<ul class='govuk-list govuk-list--bullet'>
                      <li>Insert a programme type code from the <a href=''>bulk upload specification document</a></li>
                      <li>Insert a Framework code and Framework pathway code from the LARS database</li>
                      <li>Leave Standard code blank</li>
                    </ul><ul class='govuk-list govuk-list--bullet'><li>If you open this file using Excel to view or edit it then it will show the default date format of dd/mm/yyyy. You will need to reformat this before you save and close the file</li></ul>
                    <ul class='govuk-list govuk-list--bullet'><li>The start and end dates are month and year - not full dates and are not formatted as dates in Excel</li></ul>"
              }) }}  

              {{ govukWarningText({
                text: "Uploading a file will overwrite any existing apprentice records in this cohort.",
                iconFallbackText: "Warning"
              }) }}

            {{ govukFileUpload({
              id: "file-upload-1",
              name: "file-upload-1"
            }) }}

          </div>

          {{ govukButton({
            text: "Upload",
            href: "upload-in-progress"
          }) }}
          
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}