{% extends "layout.html" %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
	<div class="content">
		<nav id="proposition-menu">
			<a href="/" id="proposition-name">
				{% block service_name %}
				{% if serviceName %} {{ serviceName }} {% endif %}
				{% endblock %}
			</a>
		</nav>
	</div>
</div>
{% endblock %}

{% block header %}

{# Set serviceName in config.js. #}
{{ govukHeader({
	homepageUrl: "/",
	serviceName: serviceName,
	serviceUrl: "/",
	classes: "app-apprentice-service-header"
}) }}
<style>
#global-header-bar{ display:none !important; }
</style>

{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}

{% block footer_support_links %}
{% if useAutoStoreData %}
<ul>
	<li>
		<a href="/prototype-admin/clear-data">Clear data</a>
	</li>

	<li>
		<a href="/{{version}}/settings">Prototype settings</a>
	</li>
</ul>
{% endif %}
{% endblock %}

{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}

{% block pageScripts %}
{% endblock %}

{% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
