{% extends "layout-account.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-7">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl heading-dashboard">
			Apprentices	
		</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<div class="govuk-grid-row page-dashboard">		
			<div class="govuk-grid-column-two-thirds">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="apprentice-requests-boxes-1a">Add and approve apprentices</a>
						</h2>
						<p>Add and approve new apprentice details, or ask your training provider to add them.</p>
					</div>

					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="/approve/sprint-20/research/employer/manage-your-apprentices/manage-your-apprentices-filters-100">Manage live apprentices</a>
						</h2>
						<p>View approved apprentices, update details of existing apprentices or stop and pause payments to training providers.</p>
					</div>
				</div>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">
							<a href="/approve/sprint-22/research/employer/manage-your-apprentices/view-your-apprentices">View completed and stopped apprentices</a>
						</h2>
						<p>Lorem ipsum just to annoy Darryl.</p>
					</div>
				</div>
			</div>

			<div class="govuk-grid-column-one-third">
		
			</div>
		</div>
	</div>
</div>

{% endblock %}