<h2 class="govuk-heading-l" id="sprint-19">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 19
  <span class="govuk-caption-l">
    11th&mdash;25th October 2019
  </span>
</h2>

<h3 class="govuk-heading-m" id="research">
  Research
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h4 class="govuk-heading-s">
      Employer journey
    </h4> 
    <ul class="govuk-list govuk-list">                        
      <li><a href="sprint-19/research/employer/manage-your-apprentices/manage-your-apprentices-filters">Manage your apprentices - version 1</a></li>
      <li><a href="sprint-19/research/employer/manage-your-apprentices/manage-your-apprentices-v2">Manage your apprentices - version 2</a></li>
      <li><a href="sprint-19/research/employer/manage-your-apprentices/manage-your-apprentices-filtered-view">Filtered view</a></li>
    </ul>   
    <h4 class="govuk-heading-s">
      Provider journey
    </h4> 
    <ul class="govuk-list govuk-list">                        
      <li><a href="sprint-19/research/provider/manage-your-apprentices/manage-your-apprentices-filters">Manage your apprentices - version 1</a></li>
      <li><a href="sprint-19/research/provider/manage-your-apprentices/manage-your-apprentices-v2">Manage your apprentices - version 2</a></li>
      <li><a href="sprint-19/research/provider/manage-your-apprentices/manage-your-apprentices-filtered-view">Filtered view</a></li>
    </ul>   
  </div>
</div>